<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.mapper.WholeRetailMapper" >
  <resultMap id="BaseResultMap" type="com.shopping.entity.WholeRetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wholeparent" property="wholeparent" jdbcType="DECIMAL" />
    <result column="wholegrand" property="wholegrand" jdbcType="DECIMAL" />
    <result column="parenttype" property="parenttype" jdbcType="INTEGER" />
    <result column="grandtype" property="grandtype" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wholeparent, wholegrand, parenttype, grandtype, cid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wholeretail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wholeretail
    where cid = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wholeretail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shopping.entity.WholeRetail" >
    insert into wholeretail (id, wholeparent, wholegrand, 
      parenttype, grandtype, cid
      )
    values (#{id,jdbcType=INTEGER}, #{wholeparent,jdbcType=DECIMAL}, #{wholegrand,jdbcType=DECIMAL}, 
      #{parenttype,jdbcType=INTEGER}, #{grandtype,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shopping.entity.WholeRetail" >
    insert into wholeretail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wholeparent != null" >
        wholeparent,
      </if>
      <if test="wholegrand != null" >
        wholegrand,
      </if>
      <if test="parenttype != null" >
        parenttype,
      </if>
      <if test="grandtype != null" >
        grandtype,
      </if>
      <if test="cid != null" >
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wholeparent != null" >
        #{wholeparent,jdbcType=DECIMAL},
      </if>
      <if test="wholegrand != null" >
        #{wholegrand,jdbcType=DECIMAL},
      </if>
      <if test="parenttype != null" >
        #{parenttype,jdbcType=INTEGER},
      </if>
      <if test="grandtype != null" >
        #{grandtype,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shopping.entity.WholeRetail" >
    update wholeretail
    <set >
      <if test="wholeparent != null" >
        wholeparent = #{wholeparent,jdbcType=DECIMAL},
      </if>
      <if test="wholegrand != null" >
        wholegrand = #{wholegrand,jdbcType=DECIMAL},
      </if>
      <if test="parenttype != null" >
        parenttype = #{parenttype,jdbcType=INTEGER},
      </if>
      <if test="grandtype != null" >
        grandtype = #{grandtype,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shopping.entity.WholeRetail" >
    update wholeretail
    set wholeparent = #{wholeparent,jdbcType=DECIMAL},
      wholegrand = #{wholegrand,jdbcType=DECIMAL},
      parenttype = #{parenttype,jdbcType=INTEGER},
      grandtype = #{grandtype,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>